
.dropdown
{
    border:                 1px solid transparent;
    color:                  #777;
    cursor:                 pointer;
    font-size:              18px;
    height:                 30px;
    line-height:            32px;
}

.dropdown:hover
{
    border-color:           #a44;
}
