
.skill
{
    background: #fff;
    border: 1px solid #337ab711;
    color:  #004;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-align: left;
    transition: border-color 200ms ease-in;
    width: 100%;
}

.skill:hover
{
    border-color: #337ab788;
}

.titleRow
{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.name
{
    color: #337ab7;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.7em;
}

.attribute
{
    margin-left: 10px;
}

.timestamp
{
    color: #004;
    float: right;
    font-size: 0.6em;
    line-height: 1.7em;
    margin-top: -30px;
}

.expanded .timestamp
{
    float: none;
    margin-top: 0;
    text-align: right;
    width: 100%;
}

.details
{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform-origin: top;
    transition: opacity 200ms ease-in,
        max-height 100ms ease-in;
}

.expanded .details
{
    max-height: 8000px;
    opacity: 1;
    transition: opacity 100ms ease-in;
}

